
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.address-aX9 {
  padding-bottom: 15.8rem;
  align-items: center;
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;

  .header-7GB {
    flex-shrink: 0;
    margin-bottom: 7.2rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-xdrp-eG7 {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 4.1rem 0rem 4rem;
      width: calc(100% - 8.1rem);
      height: 8rem;
      display: flex;

      .auto-group-l5dh-wW7 {
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.4rem 4.3rem 1.6rem 0rem;
        height: 100%;
        display: flex;

        .cozy-5MR {
          color: #17183b;
          font-family: Cambay, 'Source Sans Pro';
          white-space: nowrap;
          text-transform: capitalize;
          display: flex;
          align-items: baseline;
          flex-shrink: 0;
          margin-right: 36.1rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.6287500064;

          .cozy-5MR-sub-0 {
            color: #17183b;
            font-family: Cambay, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.63;
            text-transform: capitalize;
          }
          .cozy-5MR-sub-1 {
            font-weight: 400;
            line-height: 1.63;
            text-transform: capitalize;
            color: #17183b;
            font-family: Cambay, 'Source Sans Pro';
            font-size: 2.4rem;
          }
        }
        .menu-fyq {
          margin: 0.8rem 25.3rem 1.6rem 0rem;
          height: calc(100% - 2.4rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .shop-127 {
            color: #17183b;
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.4rem;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.1428571429;
          }
          .collective-eKy {
            color: #17183b;
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.9rem;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.1428571429;
          }
          .designers-P2f {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.7rem;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.1428571429;
            color: #17183b;
            font-family: Proxima Nova, 'Source Sans Pro';
          }
          .about-us-Kwu {
            color: #17183b;
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.9rem;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.1428571429;
          }
          .contact-ejH {
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.1428571429;
            color: #17183b;
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .menu-Z5Z {
          flex-shrink: 0;
          margin: 0rem 4.7rem 0.8rem 0rem;
          width: 1.6rem;
          height: 1.2rem;
          object-fit: contain;
          vertical-align: top;
        }
        .search-HXM {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.8rem;
          width: 1.8rem;
          height: 1.8rem;
        }
      }
      .rectangle-21-P4b {
        margin-right: 4.1rem;
        width: 0.1rem;
        height: 8rem;
        background-color: #d1d1d8;
        flex-shrink: 0;
      }
      .shopping-cart-8H5 {
        margin-bottom: 0.1rem;
        width: 2.2rem;
        height: 2.1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .rectangle-3-T4T {
      width: 100%;
      height: 0.1rem;
      background-color: #d1d1d8;
      flex-shrink: 0;
    }
  }
  .auto-group-ngqo-CGw {
    width: calc(100% - 16rem);
    height: 58.9rem;
    position: relative;
    flex-shrink: 0;
    margin: 0 8rem;

    .add-new-address-Xq1 {
      box-sizing: border-box;
      height: 2.4rem;
      left: 3.6rem;
      border-radius: 0.4rem;
      padding: 0.2rem 1rem 0.2rem 0.5rem;
      width: 17.1rem;
      position: absolute;
      top: 42.5rem;
      display: flex;
      align-items: center;

      .plus-ywu {
        width: 1.4rem;
        height: 1.4rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 2.1rem 0rem 0rem;
      }
      .auto-group-vmh9-XCj {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.25;
        letter-spacing: 0.01rem;
        color: #3aa29f;
        font-family: Proxima Nova, 'Source Sans Pro';
        white-space: nowrap;
        width: 12.1rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
      }
    }
    .rectangle-30-29V {
      top: 39.2rem;
      background-color: #d1d1d8;
      width: 82rem;
      height: 0.1rem;
      position: absolute;
      left: 0;
    }
    .address-office-AFh {
      width: 90.4rem;
      height: 10.4rem;
      position: absolute;
      left: 0.2rem;
      top: 25.6rem;

      .auto-group-n1wo-J71 {
        align-items: center;
        margin-bottom: 1rem;
        width: 100%;
        display: flex;

        .rectangle-36-pLF {
          border-radius: 1rem;
          flex-shrink: 0;
          margin: 0rem 1.4rem 0.8rem 0rem;
          width: 2rem;
          height: 2rem;
          border: solid 0.2rem #a2a3b1;
          box-sizing: border-box;
        }
        .indiatech-5my {
          font-weight: 600;
          line-height: 1.3333333333;
          letter-spacing: 0.015rem;
          color: #17183b;
          flex-shrink: 0;
          margin: 0rem 1.5rem 0.6rem 0rem;
          font-size: 2.4rem;
          font-family: Proxima Nova, 'Source Sans Pro';
          white-space: nowrap;
        }
        .tag-nAb {
          font-weight: 600;
          line-height: 1.2575;
          white-space: nowrap;
          border: solid 0.1rem #3aa29f;
          text-transform: uppercase;
          color: #3aa29f;
          font-family: Proxima Nova, 'Source Sans Pro';
          border-radius: 0.4rem;
          margin: 0rem 47.4rem 0.8rem 0rem;
          box-sizing: border-box;
          padding: 0.7rem 1.1rem 0.1rem 0.8rem;
          font-size: 1.2rem;
          flex-shrink: 0;
        }
        .actions-Qhm {
          margin-top: 1.4rem;
          width: 22.2rem;
          height: 2.4rem;
          position: relative;
          flex-shrink: 0;

          .proceed-9vF {
            top: 0;
            box-sizing: border-box;
            padding-right: 9.2rem;
            width: 14.5rem;
            height: 2.4rem;
            left: 0;
            position: absolute;
            display: flex;
            align-items: flex-start;
            border-radius: 0.4rem;

            .auto-group-lhdr-4XR {
              font-weight: 600;
              margin-right: 2.4rem;
              line-height: 1.25;
              color: #17183b;
              justify-content: center;
              width: 2.8rem;
              letter-spacing: 0.01rem;
              font-family: Proxima Nova, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              flex-shrink: 0;
              height: 2rem;
              font-size: 1.6rem;
              align-items: center;
            }
            .rectangle-28-Xfu {
              height: 2rem;
              background-color: #d1d1d8;
              flex-shrink: 0;
              width: 0.1rem;
            }
          }
          .proceed-rCP {
            left: 7.7rem;
            top: 0;
            border-radius: 0.4rem;
            width: 14.5rem;
            height: 2.4rem;
            position: absolute;

            .auto-group-hq39-o7d {
              height: 2rem;
              font-size: 1.6rem;
              line-height: 1.25;
              letter-spacing: 0.01rem;
              color: #e14b4b;
              white-space: nowrap;
              margin: 0rem 8.8rem 0.4rem 0rem;
              width: 5.7rem;
              font-weight: 600;
              font-family: Proxima Nova, 'Source Sans Pro';
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
      .the-gently-curved-lines-accentuated-by-sewn-details-are-kind-to-your-body-and-pleasant-to-look-at-also-theres-a-tilt-and-height-adjusting-mechanism-thats-built-to-outlast-years-of-ups-and-downs-HYb {
        color: #17183b;
        font-family: Proxima Nova, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 0.8rem 3.4rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
      }
      .auto-group-gy9m-ito {
        margin: 0rem 69.5rem 0rem 3.4rem;
        width: calc(100% - 72.9rem);
        display: flex;
        align-items: center;

        .contact--4hm {
          font-weight: 600;
          line-height: 1.25;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1rem;
          font-size: 1.6rem;
          letter-spacing: 0.01rem;
          color: #17183b;
          font-family: Proxima Nova, 'Source Sans Pro';
        }
        .item-936-361-0310-NCf {
          color: #17183b;
          font-family: Proxima Nova, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
        }
      }
    }
    .address-home-FGT {
      width: 90.4rem;
      height: 10.4rem;
      position: absolute;
      left: 0.2rem;
      top: 9.6rem;

      .auto-group-qqnf-ZY3 {
        height: 3.2rem;
        display: flex;
        align-items: center;
        margin-bottom: 1.6rem;
        width: 100%;

        .radioselected-HU3 {
          width: 2rem;
          border: solid 0.2rem #3aa29f;
          background-color: #ffffff;
          border-radius: 1rem;
          margin: 0.5rem 1.4rem 0.7rem 0rem;
          box-sizing: border-box;
          flex-shrink: 0;
          padding: 0.5rem;
          height: calc(100% - 1.2rem);

          .rectangle-35-QoZ {
            border: solid 0.1rem #3aa29f;
            box-sizing: border-box;
            background-color: #3aa29f;
            border-radius: 1rem;
            width: 100%;
            height: 1rem;
          }
        }
        .huzefa-bagwala-KQj {
          margin-right: 2.4rem;
          font-size: 2.4rem;
          color: #17183b;
          font-family: Proxima Nova, 'Source Sans Pro';
          flex-shrink: 0;
          font-weight: 600;
          line-height: 1.3333333333;
          letter-spacing: 0.015rem;
          white-space: nowrap;
        }
        .tag-r9m {
          height: calc(100% - 0.8rem);
          line-height: 1.2575;
          text-transform: uppercase;
          border: solid 0.1rem #3aa29f;
          margin: 0.3rem 40.6rem 0.5rem 0rem;
          color: #3aa29f;
          font-family: Proxima Nova, 'Source Sans Pro';
          white-space: nowrap;
          box-sizing: border-box;
          font-size: 1.2rem;
          border-radius: 0.4rem;
          flex-shrink: 0;
          padding: 0.7rem 1.1rem 0.1rem 0.8rem;
          font-weight: 600;
        }
        .actions-JXZ {
          margin: 0.5rem 0rem 0.3rem 0rem;
          width: 22.2rem;
          height: calc(100% - 0.8rem);
          position: relative;
          flex-shrink: 0;

          .proceed-pko {
            padding-right: 9.2rem;
            width: 14.5rem;
            position: absolute;
            top: 0;
            box-sizing: border-box;
            height: 2.4rem;
            left: 0;
            display: flex;
            align-items: flex-start;
            border-radius: 0.4rem;

            .auto-group-vnrk-jsm {
              line-height: 1.25;
              color: #17183b;
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 2.4rem;
              width: 2.8rem;
              height: 2rem;
              font-weight: 600;
              letter-spacing: 0.01rem;
              font-family: Proxima Nova, 'Source Sans Pro';
              align-items: center;
              justify-content: center;
              font-size: 1.6rem;
              display: flex;
            }
            .rectangle-28-cAs {
              height: 2rem;
              background-color: #d1d1d8;
              flex-shrink: 0;
              width: 0.1rem;
            }
          }
          .proceed-MPM {
            width: 14.5rem;
            height: 2.4rem;
            position: absolute;
            left: 7.7rem;
            top: 0;
            border-radius: 0.4rem;

            .auto-group-agwb-Uis {
              font-size: 1.6rem;
              font-weight: 600;
              color: #e14b4b;
              white-space: nowrap;
              display: flex;
              align-items: center;
              margin: 0rem 8.8rem 0.4rem 0rem;
              width: 5.7rem;
              justify-content: center;
              letter-spacing: 0.01rem;
              font-family: Proxima Nova, 'Source Sans Pro';
              height: 2rem;
              line-height: 1.25;
            }
          }
        }
      }
      .the-gently-curved-lines-accentuated-by-sewn-details-are-kind-to-your-body-and-pleasant-to-look-at-also-theres-a-tilt-and-height-adjusting-mechanism-thats-built-to-outlast-years-of-ups-and-downs-xtw {
        font-weight: 400;
        line-height: 1.5;
        color: #17183b;
        font-family: Proxima Nova, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 0.8rem 3.4rem;
        font-size: 1.6rem;
      }
      .auto-group-cbhy-1MR {
        width: calc(100% - 72.9rem);
        display: flex;
        align-items: flex-end;
        margin: 0rem 69.5rem 0rem 3.4rem;

        .contact--WZ5 {
          font-family: Proxima Nova, 'Source Sans Pro';
          font-size: 1.6rem;
          letter-spacing: 0.01rem;
          color: #17183b;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1rem;
          font-weight: 600;
          line-height: 1.25;
        }
        .item-936-361-0310-eQP {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #17183b;
          font-family: Proxima Nova, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .steps-YEs {
      height: 3.2rem;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      width: 49rem;

      .address-t3q {
        color: #17183b;
        font-family: Proxima Nova, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 5.4rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.3333333333;
      }
      .chevron-right-1-CqD {
        margin-right: 4.9rem;
        width: 0.6rem;
        height: 1.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .shipping-jKM {
        font-weight: 700;
        line-height: 1.3333333333;
        color: #a2a3b1;
        font-family: Proxima Nova, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 5.1rem;
        font-size: 2.4rem;
      }
      .chevron-right-2-F2o {
        height: 1.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.9rem;
        width: 0.6rem;
      }
      .payment-Bh9 {
        color: #a2a3b1;
        font-family: Proxima Nova, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.3333333333;
      }
    }
    .order-summary-jTm {
      row-gap: 3.2rem;
      position: absolute;
      background-color: #ffffff;
      display: flex;
      left: 90rem;
      align-items: center;
      width: 38rem;
      height: 58.9rem;
      top: 0;
      flex-direction: column;
      border: solid 0.1rem #d1d1d8;
      border-radius: 0.2rem;
      box-sizing: border-box;
      padding: 3.2rem;

      .order-summary-pEK {
        flex-shrink: 0;
        margin-right: 14.6rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.3333333333;
        color: #17183b;
        font-family: Proxima Nova, 'Source Sans Pro';
        white-space: nowrap;
      }
      .details-ZSo {
        margin-right: 0.1rem;
        width: 31.5rem;
        flex-shrink: 0;

        .price-iab {
          display: flex;
          align-items: center;
          margin: 0rem 0.3rem 2.4rem 0rem;
          width: calc(100% - 0.3rem);

          .price-3cs {
            font-weight: 400;
            line-height: 1.5;
            color: #17183b;
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 22.6rem;
            font-size: 1.6rem;
          }
          .item-31998-AxP {
            line-height: 1.5;
            color: #17183b;
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
          }
        }
        .discount-iU7 {
          width: 100%;
          display: flex;
          align-items: center;

          .discount-Uy5 {
            color: #17183b;
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 22rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
          }
          .item-319-cJb {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #17183b;
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-dohz-Mmy {
          flex-direction: column;
          box-sizing: border-box;
          padding-top: 2.4rem;
          width: 100%;
          display: flex;

          .shipping-KD1 {
            margin: 0rem 0.3rem 2.4rem 0rem;
            width: calc(100% - 0.3rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .shipping-SYX {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #17183b;
              font-family: Proxima Nova, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 22.3rem;
            }
            .free-Nh5 {
              font-family: Proxima Nova, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #3aa29f;
            }
          }
          .coupon-applied-L87 {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 0.6rem;
            width: calc(100% - 0.6rem);

            .coupon-applied-ghm {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 16.5rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #17183b;
              font-family: Proxima Nova, 'Source Sans Pro';
            }
            .item-000-dsu {
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #17183b;
              font-family: Proxima Nova, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
      .divider-ZFm {
        width: 100%;
        height: 0.1rem;
        background-color: #d1d1d8;
        flex-shrink: 0;
      }
      .total-VfD {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-b6ab-3Aw {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 2.4rem;

          .total-CJj {
            margin: 0rem 0.1rem 2.4rem 0rem;
            width: calc(100% - 0.1rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .total-YdV {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 21.7rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #17183b;
              font-family: Proxima Nova, 'Source Sans Pro';
            }
            .item-28808-6f1 {
              line-height: 1.25;
              letter-spacing: 0.01rem;
              color: #17183b;
              font-family: Proxima Nova, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 600;
              flex-shrink: 0;
              text-align: right;
              white-space: nowrap;
            }
          }
          .delivery-1X5 {
            flex-shrink: 0;
            margin-right: 0.8rem;
            width: calc(100% - 0.8rem);
            display: flex;
            align-items: center;

            .delivery-Aes {
              line-height: 1.5;
              color: #17183b;
              font-family: Proxima Nova, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 7.6rem;
              font-size: 1.6rem;
              font-weight: 400;
            }
            .delivery-gt7 {
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.25;
              letter-spacing: 0.01rem;
              color: #17183b;
              font-family: Proxima Nova, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .coupon-code-ohq {
          box-sizing: border-box;
          padding: 1.6rem 1.883rem 1.6rem 1.6rem;
          border: solid 0.1rem #d1d1d8;
          border-radius: 0.2rem;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          display: flex;
          align-items: center;
          width: 100%;

          .placeholder-k7H {
            font-weight: 400;
            line-height: 1.5;
            color: #a2a3b1;
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 17.1rem;
            font-size: 1.6rem;
          }
          .trailing-icon-Hsu {
            width: 1.9172rem;
            height: 1.9167rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.0833rem;
          }
        }
        .proceed-BiP {
          width: 100%;
          height: 5.2rem;
          background-color: #3aa29f;
          border-radius: 0.4rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.6rem 8.75rem 1.6rem 8.15rem;

          .auto-group-6udr-XXM {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.25;
            font-family: Proxima Nova, 'Source Sans Pro';
            justify-content: center;
            width: 100%;
            height: 100%;
            letter-spacing: 0.01rem;
            color: #ffffff;
            white-space: nowrap;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
