
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.cart-M6P {
  box-sizing: border-box;
  padding-bottom: 15.8rem;
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;

  .header-4mV {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 7.2rem;

    .auto-group-hgkf-oDH {
      height: 8rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 4.1rem 0rem 4rem;
      width: calc(100% - 8.1rem);

      .auto-group-lkqx-dTD {
        box-sizing: border-box;
        padding: 2.4rem 4.3rem 1.6rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .cozy-xkP {
          margin-right: 36.1rem;
          font-family: Cambay, 'Source Sans Pro';
          color: #17183b;
          white-space: nowrap;
          display: flex;
          align-items: baseline;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.6287500064;
          text-transform: capitalize;
          flex-shrink: 0;

          .cozy-xkP-sub-0 {
            font-family: Cambay, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.63;
            text-transform: capitalize;
            color: #17183b;
          }
          .cozy-xkP-sub-1 {
            color: #17183b;
            font-family: Cambay, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.63;
            text-transform: capitalize;
          }
        }
        .menu-y3D {
          margin: 0.8rem 25.3rem 1.6rem 0rem;
          height: calc(100% - 2.4rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .shop-J5V {
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.4rem;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.1428571429;
            color: #17183b;
          }
          .collective-2XH {
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.1428571429;
            color: #17183b;
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.9rem;
          }
          .designers-GAj {
            margin-right: 4.7rem;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.1428571429;
            color: #17183b;
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .about-us-PWF {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.9rem;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.1428571429;
            color: #17183b;
            font-family: Proxima Nova, 'Source Sans Pro';
          }
          .contact-Y8F {
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.1428571429;
            color: #17183b;
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .menu-V3V {
          margin: 0rem 4.7rem 0.8rem 0rem;
          width: 1.6rem;
          height: 1.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .search-RC3 {
          margin-bottom: 0.8rem;
          width: 1.8rem;
          height: 1.8rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .rectangle-21-8MM {
        margin-right: 4.1rem;
        width: 0.1rem;
        height: 8rem;
        background-color: #d1d1d8;
        flex-shrink: 0;
      }
      .shopping-cart-fs5 {
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        width: 2.2rem;
        height: 2.1rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .rectangle-3-oCb {
      width: 100%;
      height: 0.1rem;
      background-color: #d1d1d8;
      flex-shrink: 0;
    }
  }
  .auto-group-1agx-kdd {
    margin: 0 8rem;
    width: calc(100% - 16rem);
    height: 58.9rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-dtvr-VbD {
      margin-right: 8rem;
      width: 82rem;
      flex-shrink: 0;

      .auto-group-vnsh-F4b {
        margin: 0rem 66.6rem 6rem 0rem;
        width: calc(100% - 66.6rem);
        display: flex;
        align-items: center;

        .cart-tNT {
          flex-shrink: 0;
          margin-right: 2.5rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.375;
          color: #17183b;
          font-family: Proxima Nova, 'Source Sans Pro';
          white-space: nowrap;
        }
        .items-Ctw {
          font-weight: 600;
          line-height: 1.2;
          color: #a2a3b1;
          font-family: Proxima Nova, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.8rem;
          font-size: 2rem;
        }
      }
      .product-1-XAX {
        margin-bottom: 3.2rem;
        width: 100%;
        height: 16rem;
        display: flex;
        align-items: center;

        .img-G87 {
          width: 16rem;
          height: 16rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-fqsb-p9d {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1rem 0rem 1rem 3.6rem;
          height: 100%;

          .auto-group-6qf5-koy {
            margin-right: 2.6rem;
            width: 16.2rem;
            height: 100%;
            flex-shrink: 0;

            .osmond-armchair-H3D {
              margin-bottom: 1.6rem;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.2;
              color: #17183b;
              font-family: Proxima Nova, 'Source Sans Pro';
              white-space: nowrap;
            }
            .auto-group-fxkh-NaT {
              display: flex;
              align-items: center;
              margin-bottom: 2.8rem;
              width: 100%;

              .color-XiF {
                margin-right: 1.4rem;
                line-height: 1.25;
                letter-spacing: 0.01rem;
                font-family: Proxima Nova, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 1.6rem;
                font-weight: 600;
                color: #a2a3b1;
                flex-shrink: 0;
              }
              .gunnared-biege-FeF {
                line-height: 1.25;
                letter-spacing: 0.01rem;
                color: #17183b;
                font-family: Proxima Nova, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 600;
              }
            }
            .qty-9jd {
              align-items: center;
              border: solid 0.1rem #a2a3b1;
              border-radius: 0.4rem;
              box-sizing: border-box;
              padding: 1.4rem 2.017rem 1.4rem 2.017rem;
              display: flex;

              .minus-pas {
                width: 1.1667rem;
                height: 0;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 4.4167rem;
              }
              .item-1-usD {
                flex-shrink: 0;
                margin-right: 4.1167rem;
                font-size: 2rem;
                color: #17183b;
                font-family: Proxima Nova, 'Source Sans Pro';
                font-weight: 600;
                line-height: 1.2;
                letter-spacing: 0.04rem;
                white-space: nowrap;
              }
              .plus-qF5 {
                margin-bottom: 0rem;
                width: 1.1667rem;
                height: 1.1667rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .button-YfH {
            margin: 9.2rem 22.1rem 0rem 0rem;
            width: 14.5rem;
            height: 2.4rem;
            border-radius: 0.4rem;
            flex-shrink: 0;

            .auto-group-melw-V4j {
              margin: 0rem 8.8rem 0.277rem 0rem;
              width: 5.7rem;
              font-size: 1.6rem;
              line-height: 1.25;
              color: #e14b4b;
              white-space: nowrap;
              height: 2.123rem;
              font-weight: 600;
              letter-spacing: 0.01rem;
              font-family: Proxima Nova, 'Source Sans Pro';
            }
          }
          .item-14999-Lb9 {
            margin-bottom: 11.6rem;
            text-align: right;
            line-height: 1.2;
            letter-spacing: 0.04rem;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 600;
            color: #17183b;
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .rectangle-22-eLw {
        margin-bottom: 3.2rem;
        width: 100%;
        height: 0.1rem;
        background-color: #d1d1d8;
      }
      .product-2-Aq5 {
        height: 16rem;
        display: flex;
        align-items: center;
        margin-bottom: 3.5rem;
        width: 100%;

        .img-Uas {
          width: 16rem;
          height: 16rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-gf35-dif {
          box-sizing: border-box;
          padding: 1rem 0rem 1rem 3.6rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-64z5-NgF {
            margin-right: 0.7rem;
            width: 18.1rem;
            height: 100%;
            flex-shrink: 0;

            .meryl-lounge-chair-j11 {
              white-space: nowrap;
              margin-bottom: 1.6rem;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.2;
              color: #17183b;
              font-family: Proxima Nova, 'Source Sans Pro';
            }
            .auto-group-qc4o-FEF {
              width: 100%;
              display: flex;
              align-items: center;
              margin-bottom: 2.8rem;

              .color-yvw {
                line-height: 1.25;
                color: #a2a3b1;
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 1.4rem;
                font-size: 1.6rem;
                font-weight: 600;
                letter-spacing: 0.01rem;
                font-family: Proxima Nova, 'Source Sans Pro';
              }
              .lysed-bright-green-u3u {
                font-family: Proxima Nova, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.25;
                letter-spacing: 0.01rem;
                color: #17183b;
              }
            }
            .qty-qTM {
              box-sizing: border-box;
              padding: 1.4rem 2.017rem 1.4rem 2.017rem;
              display: flex;
              align-items: center;
              border: solid 0.1rem #a2a3b1;
              border-radius: 0.4rem;

              .minus-ypT {
                height: 0;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 4.4167rem;
                width: 1.1667rem;
              }
              .item-1-LQ7 {
                font-weight: 600;
                line-height: 1.2;
                letter-spacing: 0.04rem;
                font-family: Proxima Nova, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 4.1167rem;
                font-size: 2rem;
                color: #17183b;
                white-space: nowrap;
              }
              .plus-dPD {
                width: 1.1667rem;
                height: 1.1667rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0rem;
              }
            }
          }
          .button-Wxo {
            margin: 9.2rem 22.1rem 0rem 0rem;
            width: 14.5rem;
            height: 2.4rem;
            border-radius: 0.4rem;
            flex-shrink: 0;

            .auto-group-dmm1-Td9 {
              margin: 0rem 8.8rem 0.277rem 0rem;
              width: 5.7rem;
              height: 2.123rem;
              line-height: 1.25;
              font-family: Proxima Nova, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 600;
              letter-spacing: 0.01rem;
              color: #e14b4b;
              white-space: nowrap;
            }
          }
          .item-16999-x47 {
            font-weight: 600;
            letter-spacing: 0.04rem;
            font-family: Proxima Nova, 'Source Sans Pro';
            text-align: right;
            font-size: 2rem;
            line-height: 1.2;
            color: #17183b;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 11.6rem;
          }
        }
      }
      .offer-eSj {
        display: flex;
        align-items: center;
        border: solid 0.1rem #3aa29f;
        border-radius: 0.4rem;
        box-sizing: border-box;
        width: calc(100% - 17.7rem);
        background-color: rgba(58, 162, 159, 0.1000000015);
        margin-right: 17.7rem;
        padding: 2rem 5.2rem 2rem 2.4rem;

        .percent-n39 {
          flex-shrink: 0;
          margin-right: 1.6rem;
          width: 1.6rem;
          height: 1.6rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
        .instant-discount-with-federal-bank-debit-cards-on-a-min-spend-of-150-tca-6pX {
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #17183b;
          font-family: Proxima Nova, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .order-summary-X99 {
      border-radius: 0.2rem;
      flex-shrink: 0;
      height: 100%;
      row-gap: 3.2rem;
      display: flex;
      flex-direction: column;
      border: solid 0.1rem #d1d1d8;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 3.2rem;
      width: 38rem;
      align-items: center;

      .order-summary-T2o {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.3333333333;
        color: #17183b;
        font-family: Proxima Nova, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 14.6rem;
      }
      .details-mJP {
        margin-right: 0.1rem;
        width: 31.5rem;
        flex-shrink: 0;

        .price-hSw {
          margin: 0rem 0.3rem 2.4rem 0rem;
          width: calc(100% - 0.3rem);
          display: flex;
          align-items: center;

          .price-3Wo {
            font-weight: 400;
            line-height: 1.5;
            color: #17183b;
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 22.6rem;
            font-size: 1.6rem;
          }
          .item-31998-Paf {
            line-height: 1.5;
            color: #17183b;
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
          }
        }
        .discount-LF1 {
          width: 100%;
          display: flex;
          align-items: center;

          .discount-Uc7 {
            line-height: 1.5;
            color: #17183b;
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 22rem;
            font-size: 1.6rem;
            font-weight: 400;
          }
          .item-319-2Nj {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #17183b;
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-nrkk-a9M {
          width: 100%;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          padding-top: 2.4rem;

          .shipping-uhR {
            flex-shrink: 0;
            margin: 0rem 0.3rem 2.4rem 0rem;
            width: calc(100% - 0.3rem);
            display: flex;
            align-items: center;

            .shipping-TU3 {
              line-height: 1.5;
              color: #17183b;
              font-family: Proxima Nova, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 22.3rem;
              font-size: 1.6rem;
              font-weight: 400;
            }
            .free-1VZ {
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #3aa29f;
              font-family: Proxima Nova, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .coupon-applied-wu1 {
            flex-shrink: 0;
            margin-right: 0.6rem;
            width: calc(100% - 0.6rem);
            display: flex;
            align-items: center;

            .coupon-applied-V9q {
              font-family: Proxima Nova, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 16.5rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #17183b;
            }
            .item-000-SKy {
              line-height: 1.5;
              color: #17183b;
              font-family: Proxima Nova, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
            }
          }
        }
      }
      .divider-jps {
        width: 100%;
        height: 0.1rem;
        background-color: #d1d1d8;
        flex-shrink: 0;
      }
      .total-6fR {
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;
        align-items: center;
        display: flex;

        .auto-group-uxgs-fTd {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 2.4rem;
          width: 100%;
          display: flex;

          .total-pbR {
            flex-shrink: 0;
            margin: 0rem 0.1rem 2.4rem 0rem;
            width: calc(100% - 0.1rem);
            display: flex;
            align-items: flex-start;

            .total-NN3 {
              margin-right: 21.7rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #17183b;
              font-family: Proxima Nova, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .item-28808-VxT {
              flex-shrink: 0;
              font-weight: 600;
              letter-spacing: 0.01rem;
              font-family: Proxima Nova, 'Source Sans Pro';
              color: #17183b;
              white-space: nowrap;
              text-align: right;
              font-size: 1.6rem;
              line-height: 1.25;
            }
          }
          .delivery-ZSX {
            align-items: center;
            flex-shrink: 0;
            margin-right: 0.8rem;
            width: calc(100% - 0.8rem);
            display: flex;

            .delivery-7iw {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #17183b;
              font-family: Proxima Nova, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 7.6rem;
            }
            .delivery-G63 {
              font-family: Proxima Nova, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.25;
              letter-spacing: 0.01rem;
              color: #17183b;
            }
          }
        }
        .coupon-code-obm {
          padding: 1.6rem 1.883rem 1.6rem 1.6rem;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          box-sizing: border-box;
          border: solid 0.1rem #d1d1d8;
          border-radius: 0.2rem;
          width: 100%;
          display: flex;

          .placeholder-why {
            flex-shrink: 0;
            margin-right: 17.1rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #a2a3b1;
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
          }
          .trailing-icon-J2j {
            margin-bottom: 0.0833rem;
            width: 1.9172rem;
            height: 1.9167rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .proceed-bXd {
          background-color: #3aa29f;
          border-radius: 0.4rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.6rem 9.05rem 1.6rem 8.15rem;
          width: 100%;
          height: 5.2rem;

          .auto-group-p4qd-jdq {
            font-size: 1.6rem;
            font-family: Proxima Nova, 'Source Sans Pro';
            align-items: center;
            line-height: 1.25;
            letter-spacing: 0.01rem;
            color: #ffffff;
            white-space: nowrap;
            display: flex;
            width: 100%;
            height: 100%;
            font-weight: 600;
            justify-content: center;
          }
        }
      }
    }
  }
}
