
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.payment-C79 {
  overflow: hidden;
  align-items: center;
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 15.8rem;
  width: 100%;
  position: relative;

  .header-7V1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 7.2rem;
    width: 100%;

    .auto-group-gtvm-GMu {
      margin: 0rem 4.1rem 0rem 4rem;
      width: calc(100% - 8.1rem);
      height: 8rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-imu9-z31 {
        padding: 2.4rem 4.3rem 1.6rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;

        .cozy-Wn3 {
          line-height: 1.6287500064;
          white-space: nowrap;
          display: flex;
          margin-right: 36.1rem;
          font-size: 2.4rem;
          color: #17183b;
          font-family: Cambay, 'Source Sans Pro';
          align-items: baseline;
          flex-shrink: 0;
          font-weight: 400;
          text-transform: capitalize;

          .cozy-Wn3-sub-0 {
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.63;
            text-transform: capitalize;
            color: #17183b;
            font-family: Cambay, 'Source Sans Pro';
          }
          .cozy-Wn3-sub-1 {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.63;
            text-transform: capitalize;
            color: #17183b;
            font-family: Cambay, 'Source Sans Pro';
          }
        }
        .menu-GYF {
          height: calc(100% - 2.4rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0.8rem 25.3rem 1.6rem 0rem;

          .shop-Q8f {
            flex-shrink: 0;
            margin-right: 4.4rem;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.1428571429;
            color: #17183b;
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
          }
          .collective-YEs {
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.1428571429;
            color: #17183b;
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.9rem;
          }
          .designers-Ff5 {
            line-height: 1.1428571429;
            color: #17183b;
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.7rem;
            font-size: 1.4rem;
            font-weight: 600;
          }
          .about-us-QH5 {
            flex-shrink: 0;
            margin-right: 4.9rem;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.1428571429;
            color: #17183b;
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
          }
          .contact-XsV {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.1428571429;
            color: #17183b;
            font-family: Proxima Nova, 'Source Sans Pro';
          }
        }
        .menu-HLs {
          margin: 0rem 4.7rem 0.8rem 0rem;
          width: 1.6rem;
          height: 1.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .search-ce3 {
          height: 1.8rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.8rem;
          width: 1.8rem;
        }
      }
      .rectangle-21-XFD {
        height: 8rem;
        background-color: #d1d1d8;
        flex-shrink: 0;
        margin-right: 4.1rem;
        width: 0.1rem;
      }
      .shopping-cart-4kw {
        margin-bottom: 0.1rem;
        width: 2.2rem;
        height: 2.1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .rectangle-3-mfM {
      height: 0.1rem;
      background-color: #d1d1d8;
      flex-shrink: 0;
      width: 100%;
    }
  }
  .auto-group-pqmq-eUF {
    height: 58.9rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0 8rem;
    width: calc(100% - 16rem);

    .auto-group-lxbz-BUB {
      margin-right: 1.6rem;
      width: 88.4rem;
      flex-shrink: 0;

      .steps-hBd {
        margin-bottom: 6.4rem;
        display: flex;
        align-items: center;

        .address-2jh {
          color: #a2a3b1;
          font-family: Proxima Nova, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 5.4rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.3333333333;
        }
        .chevron-right-1-B6o {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 4.9rem;
          width: 0.6rem;
          height: 1.2rem;
          object-fit: contain;
        }
        .shipping-uYb {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 5.1rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.3333333333;
          color: #a2a3b1;
          font-family: Proxima Nova, 'Source Sans Pro';
        }
        .chevron-right-2-FcT {
          margin-right: 4.9rem;
          width: 0.6rem;
          height: 1.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .payment-PCs {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.3333333333;
          color: #17183b;
          font-family: Proxima Nova, 'Source Sans Pro';
        }
      }
      .payment-method-hzF {
        width: 100%;
        display: flex;
        flex-direction: column;

        .payment-method-GXZ {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.2;
          color: #17183b;
          font-family: Proxima Nova, 'Source Sans Pro';
        }
        .auto-group-ms9m-mz7 {
          width: 100%;
          height: 11.3rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-19-VfD {
            background-color: rgba(255, 255, 255, 0.200000003);
            border-radius: 0.2rem;
            width: 82rem;
            position: absolute;
            top: 0;
            border: solid 0.1rem rgba(23, 24, 59, 0.200000003);
            height: 11.3rem;
            left: 0;
            box-sizing: border-box;
          }
          .method2-QGP {
            width: 85.8rem;
            height: 2.6rem;
            position: absolute;
            left: 2.6rem;
            top: 7.3rem;
            display: flex;
            align-items: center;

            .rectangle-36-K8T {
              margin: 0rem 1.4rem 0.2rem 0rem;
              width: 2rem;
              height: 2rem;
              border: solid 0.2rem #a2a3b1;
              box-sizing: border-box;
              border-radius: 1rem;
              flex-shrink: 0;
            }
            .mastercard-zVV {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1.6rem 0.1rem 0rem;
              width: 2.4rem;
              height: 1.7rem;
              position: relative;
              object-fit: contain;
            }
            .item-5643-8Lo {
              margin: 0rem 4.8rem 0.2rem 0rem;
              font-weight: 600;
              line-height: 1.25;
              color: #17183b;
              font-family: Proxima Nova, 'Source Sans Pro';
              flex-shrink: 0;
              font-size: 1.6rem;
              letter-spacing: 0.01rem;
              white-space: nowrap;
            }
            .expires-11-2020-QJK {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 42.8rem 0.2rem 0rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #a2a3b1;
              font-family: Proxima Nova, 'Source Sans Pro';
            }
            .proceed-hoD {
              margin-top: 0.2rem;
              width: 14.5rem;
              height: 2.4rem;
              border-radius: 0.4rem;
              flex-shrink: 0;

              .auto-group-wris-4Ns {
                white-space: nowrap;
                display: flex;
                margin: 0rem 8.8rem 0.4rem 0rem;
                width: 5.7rem;
                font-weight: 600;
                line-height: 1.25;
                color: #e14b4b;
                font-family: Proxima Nova, 'Source Sans Pro';
                align-items: center;
                height: 2rem;
                font-size: 1.6rem;
                letter-spacing: 0.01rem;
                justify-content: center;
              }
            }
          }
          .rectangle-40-LbH {
            background-color: rgba(23, 24, 59, 0.200000003);
            opacity: 0.2;
            width: 82rem;
            height: 0.1rem;
            position: absolute;
            left: 0;
            top: 5.6rem;
          }
          .method1-SuD {
            display: flex;
            align-items: center;
            width: 85.6rem;
            height: 2.6rem;
            position: absolute;
            left: 2.6rem;
            top: 1.6rem;

            .radioselected-BM1 {
              height: calc(100% - 0.6rem);
              border: solid 0.2rem #3aa29f;
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 0.5rem;
              width: 2rem;
              margin: 0.2rem 1.4rem 0.4rem 0rem;
              border-radius: 1rem;
              flex-shrink: 0;

              .rectangle-35-GtF {
                border-radius: 1rem;
                width: 100%;
                height: 1rem;
                border: solid 0.1rem #3aa29f;
                box-sizing: border-box;
                background-color: #3aa29f;
              }
            }
            .visa-7P5 {
              height: 1.7rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1.6rem 0.1rem 0rem;
              width: 2.4rem;
            }
            .item-6754-FVH {
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.25;
              letter-spacing: 0.01rem;
              color: #17183b;
              white-space: nowrap;
              margin: 0rem 4.7rem 0.2rem 0rem;
              font-family: Proxima Nova, 'Source Sans Pro';
            }
            .expires-11-2020-9af {
              flex-shrink: 0;
              margin: 0rem 42.7rem 0.2rem 0rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #a2a3b1;
              font-family: Proxima Nova, 'Source Sans Pro';
              white-space: nowrap;
            }
            .proceed-G9V {
              margin-top: 0.2rem;
              width: 14.5rem;
              height: 2.4rem;
              border-radius: 0.4rem;
              flex-shrink: 0;

              .auto-group-alp9-QWb {
                align-items: center;
                width: 5.7rem;
                font-weight: 600;
                line-height: 1.25;
                letter-spacing: 0.01rem;
                color: #e14b4b;
                display: flex;
                margin: 0rem 8.8rem 0.4rem 0rem;
                height: 2rem;
                font-size: 1.6rem;
                font-family: Proxima Nova, 'Source Sans Pro';
                white-space: nowrap;
                justify-content: center;
              }
            }
          }
        }
      }
      .auto-group-zscj-VH9 {
        box-sizing: border-box;
        padding-top: 3.2rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .rectangle-30-Rgb {
          width: 82rem;
          height: 0.1rem;
          background-color: rgba(23, 24, 59, 0.200000003);
          flex-shrink: 0;
          margin-bottom: 3.2rem;
          opacity: 0.2;
        }
        .add-payment-method-ZXu {
          flex-shrink: 0;
          margin-right: 68.7rem;
          box-sizing: border-box;
          width: calc(100% - 68.7rem);
          height: 2.4rem;
          display: flex;
          align-items: center;
          padding: 0.2rem 0.6rem 0.2rem 0.5rem;
          border-radius: 0.4rem;

          .plus-FvX {
            margin: 0rem 2.1rem 0rem 0rem;
            width: 1.4rem;
            height: 1.4rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-go6p-bjV {
            height: 100%;
            font-size: 1.6rem;
            font-weight: 600;
            letter-spacing: 0.01rem;
            color: #3aa29f;
            justify-content: center;
            flex-shrink: 0;
            width: 15.1rem;
            line-height: 1.25;
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            align-items: center;
          }
        }
      }
    }
    .order-summary-6gF {
      border: solid 0.1rem #d1d1d8;
      border-radius: 0.2rem;
      padding: 3.2rem;
      width: 38rem;
      height: 100%;
      row-gap: 3.2rem;
      display: flex;
      box-sizing: border-box;
      align-items: center;
      flex-direction: column;
      background-color: #ffffff;
      flex-shrink: 0;

      .order-summary-aLX {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 14.6rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.3333333333;
        color: #17183b;
        font-family: Proxima Nova, 'Source Sans Pro';
      }
      .details-VTV {
        flex-shrink: 0;
        margin-right: 0.1rem;
        width: 31.5rem;

        .price-oyy {
          align-items: center;
          margin: 0rem 0.3rem 2.4rem 0rem;
          width: calc(100% - 0.3rem);
          display: flex;

          .price-9nw {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #17183b;
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 22.6rem;
          }
          .item-31998-Vbu {
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #17183b;
          }
        }
        .discount-Qis {
          width: 100%;
          display: flex;
          align-items: center;

          .discount-mpK {
            line-height: 1.5;
            color: #17183b;
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 22rem;
            font-size: 1.6rem;
            font-weight: 400;
          }
          .item-319-6bh {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #17183b;
            font-family: Proxima Nova, 'Source Sans Pro';
          }
        }
        .auto-group-91jf-2VM {
          box-sizing: border-box;
          padding-top: 2.4rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .shipping-amm {
            margin: 0rem 0.3rem 2.4rem 0rem;
            width: calc(100% - 0.3rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .shipping-j8s {
              font-weight: 400;
              line-height: 1.5;
              color: #17183b;
              font-family: Proxima Nova, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 22.3rem;
              font-size: 1.6rem;
            }
            .free-rzB {
              font-weight: 400;
              line-height: 1.5;
              color: #3aa29f;
              font-family: Proxima Nova, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
            }
          }
          .coupon-applied-zab {
            margin-right: 0.6rem;
            width: calc(100% - 0.6rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .coupon-applied-MAF {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 16.5rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #17183b;
              font-family: Proxima Nova, 'Source Sans Pro';
            }
            .item-000-tvs {
              color: #17183b;
              font-family: Proxima Nova, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
            }
          }
        }
      }
      .divider-21V {
        width: 100%;
        height: 0.1rem;
        background-color: #d1d1d8;
        flex-shrink: 0;
      }
      .total-BQB {
        flex-shrink: 0;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-tyuh-YVd {
          box-sizing: border-box;
          padding-bottom: 2.4rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .total-JUo {
            flex-shrink: 0;
            margin: 0rem 0.1rem 2.4rem 0rem;
            width: calc(100% - 0.1rem);
            display: flex;
            align-items: flex-start;

            .total-eYf {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 21.7rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #17183b;
              font-family: Proxima Nova, 'Source Sans Pro';
            }
            .item-28808-CaB {
              letter-spacing: 0.01rem;
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.25;
              text-align: right;
              color: #17183b;
              font-family: Proxima Nova, 'Source Sans Pro';
            }
          }
          .delivery-LAb {
            width: calc(100% - 0.8rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 0.8rem;

            .delivery-U1u {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 7.6rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #17183b;
              font-family: Proxima Nova, 'Source Sans Pro';
            }
            .delivery-noH {
              font-family: Proxima Nova, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.25;
              letter-spacing: 0.01rem;
              color: #17183b;
            }
          }
        }
        .coupon-code-Y1m {
          margin-bottom: 2.4rem;
          width: 100%;
          display: flex;
          border-radius: 0.2rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.6rem 1.883rem 1.6rem 1.6rem;
          align-items: center;
          border: solid 0.1rem #d1d1d8;

          .placeholder-E9V {
            color: #a2a3b1;
            font-family: Proxima Nova, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 17.1rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
          }
          .trailing-icon-Mju {
            width: 1.9172rem;
            height: 1.9167rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.0833rem;
          }
        }
        .proceed-g1V {
          box-sizing: border-box;
          padding: 1.6rem 7.65rem 1.6rem 6.55rem;
          width: 100%;
          height: 5.2rem;
          background-color: #3aa29f;
          border-radius: 0.4rem;
          flex-shrink: 0;

          .auto-group-rhio-Pgb {
            line-height: 1.25;
            white-space: nowrap;
            align-items: center;
            width: 100%;
            height: 100%;
            font-size: 1.6rem;
            font-weight: 600;
            justify-content: center;
            letter-spacing: 0.01rem;
            color: #ffffff;
            font-family: Proxima Nova, 'Source Sans Pro';
            display: flex;
          }
        }
      }
    }
  }
}
